<div class="container">
    <div class="row">
        <div class="well">
            <h1 class="text-center">Products</h1>
            <ul *ngFor="let product of products" class="list-group" style="list-style: none;">
                <li>
                    <a href="#" class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <a [routerLink]="[product.id]">
                                    <img class="media-object img-rounded img-responsive" src="https://www.tactics.com/a/93ep/2/nike-sb-logo-dri-fit-t-shirt-white-black.webp"
                                        alt="placehold.it/350x250">
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading"> {{product.name}} </h4>
                            <p class="list-group-item-text">Description: {{product.description}}</p><br>
                            <p class="list-group-item-text">Price: ${{product.price}}</p>
                        </div>
                    </a>
                    <hr>
                </li>
            </ul>
        </div>
    </div>