<div class="container">
    <div class="row">
        <div class="col-md-9  admin-content" id="profile">
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">First Name</h3>
                </div>
                <div class="panel-body">
                    {{user.firstname}}
                </div>
            </div>
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Username</h3>
                </div>
                <div class="panel-body">
                    {{user.username}}
                </div>
            </div>
            <div class="panel panel-info" style="margin: 1em;">
                <div class="panel-heading">
                    <h3 class="panel-title">Purchase History</h3>
                </div>
                <div class="panel-body">
                    <tr *ngFor="let transaction of user.transactions">
                            <td>ID:{{transaction.id}} ,</td>
                            <td>Products: 
                                <ul *ngFor=" let product of transaction.products">
                                    <li>{{product.name}} ,</li>
                                </ul>,
                            </td>
                            <td>Total: {{transaction.totalcost}}</td>
                    </tr>
                </div>
            </div>

        </div>
    </div>
</div>