<div class="container-fluid">
    <div class="container">
        <h2 class="text-center" id="title">Anonymous</h2>

        <hr>
        <div class="row">
            <div class="col-md-5">
                <form (submit)="create()" role="form">
                    <fieldset>
                        <p class="text-uppercase pull-center"> SIGN UP.</p>
                        <div class="form-group">
                            <input name="first name" [(ngModel)]="user.first" id=""
                                class="form-control input-lg" placeholder="First Name" type="text">
                        </div>
                        <div class="form-group">
                            <input name="last name" [(ngModel)]="user.last" id="lastname"
                                class="form-control input-lg" placeholder="Last Name" type="text">
                        </div>
                        <div class="form-group">
                            <input name="first name" [(ngModel)]="user.username" id="username"
                                class="form-control input-lg" placeholder="UserName" type="text">
                        </div>
                        <div class="form-group">
                            <input name="password" id="password2" class="form-control input-lg"
                                [(ngModel)]="user.password" placeholder="Password" type="text">
                        </div>
                        <div class="form-group">
                            <input name="address" [(ngModel)]="user.address" id="address"
                                class="form-control input-lg" placeholder="Address" type="text">
                        </div>
                        <div class="form-group">
                            <input name="city" [(ngModel)]="user.city" id="city"
                                class="form-control input-lg" placeholder="City" type="text">
                        </div>
                        <div class="form-group">
                            <input name="state" id="state" class="form-control input-lg"
                                [(ngModel)]="user.state" placeholder="State" type="text">
                        </div>
                        <div class="form-group">
                            <input name="zipcode" [(ngModel)]="user.zipcode" id="zipcode"
                                class="form-control input-lg" placeholder="Zipcode" type="text">
                        </div>
                        <div class="form-group">
                            <input name="age" id="age" class="form-control input-lg"
                                [(ngModel)]="user.age" placeholder="Age" type="text">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                By Clicking register you're agree to our policy & terms
                            </label>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-primary" value=" Register">
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-md-2">
                <!-------null------>
            </div>

            <div class="col-md-5">
                <form (submit)="login()" role="form" >
                    <fieldset>
                        <p class="text-uppercase"> Login using your account: </p>

                        <div class="form-group">
                            <input type="email" name="username" [(ngModel)]="loginUser.username" id="username" class="form-control input-lg"
                                placeholder="username">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" [(ngModel)]="loginUser.password" id="password" class="form-control input-lg"
                                placeholder="Password">
                        </div>
                        <div>
                            <!-- <input type="submit" class="btn btn-success" value="Sign In"> -->
                            <input type="submit" class="btn btn-primary" value=" Login">
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>