<div class="container">
    <div class="row">
        <div class="span2">
            <img src="{{product.image}}" alt="" class="img-rounded">
        </div>
        <div class="span4">
            <blockquote>
                <p>{{product.name}}</p>
            </blockquote>
            <p>
                {{product.description}}<br>
                <button (click)="addToCart()">Add to cart</button>
            </p>
        </div>
        <br>
        <ng-flash-message></ng-flash-message>
</div>